@model TiendaDeportesWeb.Models.DTOs.FabricantesDTO
@{
    ViewBag.Title = "Gestionar Fabricantes";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <!--Inicio del formulario de Inserción de datos
    Params(1->Action, 2->Controller, 3->Method, 4->Params)
    -->
        @using (Html.BeginForm("Add", "Fabricantes", FormMethod.Post, new { role = "form" }))
        {
            @Html.LabelFor(f => f.NomFabricante)
            @Html.TextBoxFor(f => f.NomFabricante, new { @class = "form-control" })
            @Html.ValidationMessage("nomFabricante", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(f => f.PaisFabricante)
            @Html.DropDownListFor(f => Model.PaisFabricante, new SelectList(Model.lstPaises,
                    "ID_DOMINIO", "VLR_DOMINIO"),
                    htmlAttributes: new {@class = "form-control", id = "lstPaises" })
            @Html.ValidationMessage("PaisFabricante", new { @class = "text-danger" })

            <div style="text-align: left">
                <br />
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>

        }

    </div>
</div>

