@model TiendaDeportesWeb.Models.DTOs.ProductoDto
@{
    ViewBag.Title = "gestion productos";
}

<h2>Edit</h2>
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Edit", "Productos", FormMethod.Post, new { role = "form" }))
        {

            @Html.LabelFor(f => f.NOM_PRODUCTO)
            @Html.TextBoxFor(f => f.NOM_PRODUCTO, new { @class = "form-control" })
            @Html.ValidationMessage("nomFabricante", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(f => f.DET_PRODUCTO)
            @Html.TextBoxFor(f => f.DET_PRODUCTO, new { @class = "form-control" })
            @Html.ValidationMessage("DETALLE_PRODUCTO", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(f => f.PRECIO_ACTUAL)
            @Html.TextBoxFor(f => f.PRECIO_ACTUAL, new { @class = "form-control" })
            @Html.ValidationMessage("PRECIO_ACTUAL", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(f => f.UND_DISPONIBLES)
            @Html.TextBoxFor(f => f.UND_DISPONIBLES, new { @class = "form-control" })
            @Html.ValidationMessage("UND_DISPONIBLE", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(f => f.ID_CATEGORIA)
            @Html.DropDownListFor(f => Model.ID_CATEGORIA, new SelectList(Model.lstCategorias,
                    "ID_CATEGORIA", "NOM_CATEGORIA "),
                    htmlAttributes: new {@class = "form-control", id = "lstCategoria" })
            @Html.ValidationMessage("Categoria", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(f => f.ID_FABRICANTE)
            @Html.DropDownListFor(f => Model.ID_FABRICANTE, new SelectList(Model.lstFabricantes,
                    "IdFabricante", "NomFabricante"),
                    htmlAttributes: new {@class = "form-control", id = "lstFabricantes" })
            @Html.ValidationMessage("Fabricante", new { @class = "text-danger" })
            <br />

            @Html.HiddenFor(f =>f.ID_PRODUCTO)

            <div style="text-align: left">
                <br />
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>

        }

    </div>
</div>




